:root {
    --background-color: #2f353b;
    --text-color: #495057;
    --secondary-text-color: #888888; /* Màu chữ phụ */
    --container-background: #ffffff; /* Nền của container */
    --container-shadow-light: rgba(255, 255, 255, 0.3); /* Bóng nhẹ của container */
    --container-shadow-strong: rgba(255, 255, 255, 0.4); /* Bóng mạnh khi hover */
    --divider-color: #e0e0e0; /* Màu đường chia */
    --border-color: #ddd; /* Màu viền của các mục */
    --highlight-background: lightgrey; /* Nền khi hover */
    --heading-border-color: #333333; /* Màu viền dưới tiêu đề */
    --link-color: #333333; /* Màu chữ của liên kết */
    --placeholder-color: #6c757d; /* Màu placeholder (nếu cần) */
    --image-border-radius: 5%; /* Độ bo góc của ảnh */
}
.darkmode {
--background-color: #1c1c1c;/* Nền tối */
--container-background: #2b2b2b;
--text-color: #e0e0e0; /* Màu chữ sáng cho chế độ tối */
--link-color: #ffffff;  /* Màu chữ của liên kết */
--heading-border-color: #ffffff; /* Màu viền dưới tiêu đề */
--highlight-background: grey;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.card {
    display: flex;
    flex-direction: row;
    padding:50px;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 10px;
    align-items: center;
    background-color: var(--container-background);
}
.card:hover {
    box-shadow: 0 10px 40px var(--container-shadow-strong);
}
.left-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}
.right-panel {
    flex: 5;
    padding-left: 20px;
}
.announcement {
    margin-bottom: 20px;

}
.announcement h2 {
    margin-bottom: 15px;
    border-bottom: 2px solid var(--heading-border-color);
    display: inline-block;
    padding-bottom: 5px;
    color:red;
}
.announcement-list {
    list-style: none;
    padding: 0;
}
.announcement-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;

}
.announcement-list li:hover {
  background-color: var(--highlight-background);
}
.announcement-list li a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: bold;
    font-size: 1em;
}
.announcement-list li span {
    color: grey;
    font-size: 0.9em;
}
.img {
    width: 350px;
    height: 350px;
    border-radius: 5%;

}