{% extends "layout/base.html" %}

{%block title%} Đăng Nhập {%endblock%}

{%block header%} {%endblock%}

{%block content%}
    <div class="d-flex justify-content-center align-items-center vh-100 ">

    <div class="card" style="width: 30rem; ">
        <div class="card-body">
            <p class="text-center" style="font-weight: bold;font-size:20px">2NT Edu</p>
            <div class="d-flex justify-content-center align-items-center">
                <!-- Image next to the text -->
                <img src="static/images/LogoRBG.png" alt="Logo" style="width: 170px; height: 170px;">
            </div>

            <h3 class="text-center" style="font-weight:bold">ĐĂNG NHẬP</h3>

            <form method="post" action="/login" class="mt-4">
                <!-- Username -->
                <div class="form-floating mb-4 ">
                    <input type="text"
                           class="form-control shadow-sm"
                           id="username"
                           placeholder="Nhập tài khoản"
                           name="username"
                           pattern="[A-Za-z0-9]*"
                           required>
                    <label for="username">Tài khoản</label>
                </div>

                <!-- Password -->
                <div class="form-floating mb-3">
                    <input type="password"
                           class="form-control shadow-sm"
                           id="password"
                           placeholder="Nhập mật khẩu"
                           name="password"
                           required>
                    <label for="password">Nhập mật khẩu</label>
                    <!-- Eye Icon -->
                    <span class="icon" onclick="togglePass(this)"

                          style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer; font-size:25px">🙉
    </span>
                    <script src="static/js/script.js"></script>
                </div>

                <!-- Error Message -->
                {% if err_msg %}
                <div class="alert alert-danger text-center py-2">{{ err_msg }}</div>
                {% endif %}

                <!-- Login Button -->
                <div class="d-grid mt-4 mb-4">
                    <button class="btn btn-lightseagreen shadow" type="submit ">Đăng nhập</button>
                </div>

                <div class="separator mb-3">
                    <span>Bạn chưa có tài khoản?</span>
                </div>
                <p style="text-align:center;font-size:14px; font-weight:bold"> Hãy liên hệ với ADMIN để được hỗ trợ!</p>


            </form>
        </div>
    </div>
</div>
{%endblock%}

