{%extends 'layout/base.html'%}

{%block title%} Đăng ký {%endblock%}

{%block content%}

<div class="d-flex justify-content-center align-items-center ">

    <div class="card mt-3" style="width: 30rem; ">
        <div class="card-body">
            <p class="text-center" style="font-weight: bold;font-size:20px">2NT Edu</p>
            <div class="d-flex justify-content-center align-items-center">
                <!-- Image next to the text -->
                <img src="static/images/LogoRBG.png" alt="Logo" style="width: 170px; height: 170px;">
            </div>

            <h3 class="text-center" style="font-weight:bold">ĐĂNG KÝ TÀI KHOẢN</h3>

            <form method="post" action="/register" class="mt-4">

                <!-- Name -->
                <div class="form-floating mb-4 ">
                    <input type="text"
                           class="form-control shadow-sm"
                           id="name"
                           placeholder="Họ tên"
                           name="name"
                           required>
                    <label for="username">Họ tên</label>
                </div>
                <!-- Username -->
                <div class="form-floating mb-4 ">
                    <input type="text"
                           class="form-control shadow-sm"
                           id="username"
                           placeholder="Nhập tài khoản"
                           name="username"
                           pattern="[A-Za-z0-9]*"
                           required>
                    <label for="username">Tài khoản</label>
                </div>

                <!-- Password -->
                <div class="form-floating mb-4">
                    <input type="password"
                           class="form-control shadow-sm"
                           id="password"
                           placeholder="Nhập mật khẩu"
                           name="password"
                           required>
                    <label for="password">Nhập mật khẩu</label>

                    <span class="icon" onclick="togglePass(this)"
                          style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer; font-size:25px">🙉</span>
                </div>

                <!-- Confirm Password-->
                <div class="form-floating mb-4">
                    <input type="password"
                           class="form-control shadow-sm"
                           id="confirm_password"
                           placeholder="Xác nhận mật khẩu"
                           name="confirm_password"
                           required>
                    <label for="confirm_password">Xác nhận mật khẩu</label>

                    <span class="icon" onclick="togglePass(this)"
                          style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer; font-size:25px">🙉</span>
                </div>

                <script src="static/js/script.js"></script>

                <!-- Avatar -->
                <div class="form-floating mt-3 mb-3">
                    <input type="file" class="form-control" id="avatar" name="avatar">
                    <label for="avatar">Ảnh đại diện</label>
                </div>

                <!-- Error Message -->
                {% if err_msg %}
                <div class="alert alert-danger text-center py-2">{{ err_msg }}</div>
                {% endif %}

                <!-- Register Button -->
                <div class="d-grid mb-3">
                    <button class="btn btn-lightseagreen shadow" type="submit">Đăng ký</button>
                </div>


            </form>
        </div>
    </div>
</div>

{%endblock%}