{% extends "layout/base.html" %}

{%block title%} Quản Lý Lớp Học {%endblock%}

{%block link_css%}
<link href="{{url_for('static', filename='css/class_management.css')}}" rel="stylesheet"> {%endblock%}

{%block content%}
<div class="d-flex justify-content-center align-items-center">
    <div class="card" style="width: 38rem;">
        <div class="card-body">
            <form id="class-form">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control shadow-sm" id="class_name" placeholder="Lớp"
                           name="class_name" required>
                    <label for="class_name">Tên lớp</label>
                </div>

                <div class="mt-1 mb-3">
                    <select class="fieldset" id="grade" name="grade" required>
                        <option value="">Chọn khối</option>
                        <option value="10">Khối 10</option>
                        <option value="11">Khối 11</option>
                        <option value="12">Khối 12</option>
                    </select>
                </div>
                <!--                <div>-->
                <!--                    <input class="fieldset" type="number" id="class_size" min="1" max="40" placeholder="Sỉ số">-->
                <!--                </div>-->

                <!-- Register Button -->

                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <div id="flash-messages" style="display:none;">
                            {% for category, message in messages %}
                                <div class="alert alert-{{category}}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

                <div class="d-grid">
                    <button class="btn btn-red shadow" type="submit">Tạo lớp</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="mt-5">
    <div class="separator">
        <span><h2 style="color:black">DANH SÁCH LỚP HỌC</h2></span>
    </div>
    <form class="d-flex" style="align-items:center;margin-left:auto;width:fit-content">
        <input class="fieldset" style="width:300px;margin-right:5px" name="q" type="text"
               placeholder="Tìm kiếm lớp học...">
        <button class="btn btn-red mb-3" style="background-color:dodgerblue;width:80px; height:50px" type="submit">
            Tìm
        </button>
    </form>
</div>
<table>
    <thead>
    <tr>
    <th>STT</th>
    <th>Tên lớp</th>
    <th>Khối</th>
    <th>Sĩ số</th>
    <th>Tùy chọn</th>
</tr>
    </thead>
    <tbody id="class-list">
    {%for c in classes%}
    <tr>
        <td>{{c.id}}</td>
        <td>{{c.name}}</td>
        <td>{{c.grade.value}}</td>
        <td>0</td>
        <td width="200" class="text-center">
            <button class="btn btn-success mt-1 mb-1 me-2">Chi tiết</button>
            <button class="btn btn-danger mt-1 mb-1" onclick="deleteClass({{c.id}})">Xoá</button>
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>


    <ul class="pagination d-flex align-items-center justify-content-center mt-3" id="pagination" page-data="{{total_classes}}">
      <li class="page-item {%if current_page == 1%} disabled {%endif%}">
          <a class="page-link" href="/classes?page={{current_page - 1}}">Previous</a>
      </li>

      {%for p in range(1, pages+1)%}
      <li class="page-item {%if p == current_page%} active {%endif%}">
          <a class="page-link" href="/classes?page={{p}}">{{p}}</a>
      </li>
      {%endfor%}

      <li class="page-item {%if current_page == pages%} disabled {%endif%}">
          <a class="page-link" href="/classes?page={{current_page + 1}}">Next</a>
      </li>
    </ul>


{%endblock%}




