<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "layout/base.html" %}

{%block title%} Quản Lý Lớp Học {%endblock%}

{%block link_css%}
<link href="{{url_for('static', filename='css/rules.css')}}" rel="stylesheet"> {%endblock%}

{%block content%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thay Đổi Quy Định</title>

</head>
<body>
    <div class="container">
        <h1 class="text-center" style="font-weight:bold;">THAY ĐỔI QUY ĐỊNH</h1>
        <form id="update-regulations">
            <div class="form-section">
        <div class="form-group">
            <label for="min-age">*Số tuổi tối thiểu:</label>
            <input class="fieldset" type="number" id="min-age" name="min-age" min="1" placeholder="Nhập số tuổi tối thiểu">
        </div>
        <div class="form-group">
            <label for="max-age">*Số tuổi tối đa:</label>
            <input class="fieldset" type="number" id="max-age" name="max-age" min="1" placeholder="Nhập số tuổi tối đa">
        </div>
        <div class="form-group">
           <label for="max-class-size">*Sĩ số tối đa của lớp học:</label>
            <input class="fieldset" type="number" id="max-class-size" name="max-class-size" min="1" placeholder="Nhập sĩ số tối đa">
        </div>
    </div>


            <div class="btn-group ">
                <button class="btn btn-lightseagreen shadow" type="submit">Lưu Thay Đổi</button>
                <button class="btn btn-red shadow" type="reset">Hủy Bỏ</button>
            </div>
        </form>
         <div class="rules-list " style="margin-top:70px">
            <div class="separator">
        <span><h2>QUY ĐỊNH HIỆN TẠI</h2></span>
    </div>
            <div class="rule-item">
                <span style="font-weight:bold">Số tuổi tối thiểu: 5</span>
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </div>
            <div class="rule-item">
                <span style="font-weight:bold">Số tuổi tối đa: 18</span>
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </div>
            <div class="rule-item">
                <span style="font-weight:bold">Sĩ số tối đa của lớp học: 30</span>
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </div>
        </div>
    </div>
</body>
</html>
{%endblock%}