{% extends "layout/base.html" %}

{%block title%} NHẬP ĐIỂM {%endblock%}

{%block link_css%}<link href="{{url_for('static', filename='css/score.css')}}" rel="stylesheet"> {%endblock%}

{%block content%}
<div class="card align-items-center ">
<h1 class="text-center mt-2" style="font-weight:bold">NHẬP ĐIỂM</h1>

    <div class="form-section">
        <div class="form-group">
            <label for="grade">*Khối:</label>
            <select class="fieldset" id="grade">
                <option value="">Chọn khối</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="form-group">
            <label for="class">*Lớp:</label>
            <select class="fieldset" id="class">
                <option value="">Chọn lớp</option>
            </select>
        </div>
        <div class="form-group">
            <label for="subject">*Môn:</label>
            <select class="fieldset" id="subject">
                <option value="">Chọn môn học</option>
            </select>
        </div>
        <div class="form-group">
            <label for="semester">*Học kỳ:</label>
            <select class="fieldset" id="semester">
                <option value="">Chọn học kỳ</option>
                <option value="1">Học kỳ 1</option>
                <option value="2">Học kỳ 2</option>
            </select>
        </div>
<!--        <div>-->
<!--            <button id="confirm">Xác nhận</button>-->
<!--        </div>-->
    </div>

    <table id="table-student">
        <thead>
        <tr>
            <th colspan="3" id="label-class">Lớp: </th>
            <th colspan="3" id="label-semester">Học kỳ: </th>
        </tr>
        <tr>
            <th colspan="3" id="label-subject">Môn: </th>
            <th colspan="3" id="label-year">Năm học: </th>
        </tr>
        <tr>
            <th>STT</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Điểm 15’</th>
            <th>Điểm 1 tiết</th>
            <th>Điểm thi</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="number" step="0.1" min="0" max="10"></td>
            <td><input type="number" step="0.1" min="0" max="10"></td>
            <td><input type="number" step="0.1" min="0" max="10"></td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-red shadow">Lưu điểm</button>
    <p class="note">* Vui lòng kiểm tra kỹ trước khi lưu.</p>
</div>

{%endblock%}

{%block link_js%} <script src="{{url_for('static', filename='js/entry_score.js')}}"></script> {%endblock%}

